<section>
  <a href="/home-routes"></a>
  <h2 class="title">Make a new post</h2>
  <hr>

  <form class="new-post">
    <div>
      <label for="post-title">Title:</label>
      <input 
        class="input" 
        type="text" 
        id="post-title" 
        name="post-title" 
        placeholder="Blog title"
      />
    </div>

    <div>
      <label for="post-content">content:</label>
      <input 
        class="textarea is-large" 
        id="post-content" 
        name="post-content" 
      />
    </div>

    <button 
      type="submit" 
      class="button is-primary is-pulled-right"
    >
      <i class="fas fa-save">Submit</i>
    </button>
  </form>
</section>

<script src="../public/post.js"></script>