<div class="column">
    <h2 id="title">Login:</h2>
</div>

<form id="login-dashboard">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"/>
    </div>

    <div>
        <label for="pw-login">Password:</label>
        <input type="password" id="pw-login"/>
    </div>

    <div>
        <button type="submit" class="button is-primary is-pulled-right">
        <i class="fas fa-save">Submit</i>
        </button>
    </div>
</form>

<script src="../public/login.js"></script>