<div class="column">
  <h2 class="title">Create An Account:</h2>

  <form class="signup-dash">
    <div>
      <label for="un-signup">Username:</label>
      <input type="text" id="un-signup" />
    </div>

    <div>
      <label for="em-signup">Email:</label>
      <input type="text" id="email-signup" />
    </div>

    <div>
      <label for="pw-signup">Password:</label>
      <input type="password" id="pw-signup" />
    </div>

    <div>
      <button type="submit" class="button">Create Account</button>
    </div>
  </form>
</div>

<script src="../public/signup.js"></script>